*,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin: 0 auto;
  width: 100%;
}

html {
  font-size: 16px;
}

/* Regular */
@font-face {
  font-family: "MPLUS";
  font-weight: 400;
  src: local("MPLUS"),
    url(../fonts/MPLUS/MPLUS1p-Regular.ttf) format("truetype");
}

/* Medium */
@font-face {
  font-family: "MPLUS";
  font-weight: 500;
  src: local("MPLUS"), url(../fonts/MPLUS/MPLUS1p-Medium.ttf) format("truetype");
}

/* Media query for max-width 1100px */
/* @media (max-width: 1100px) {
  html {
    font-size: 14px !important;
  }
} */

/* Media query for max-width 768px */
/* @media (max-width: 768px) {
  html {
    font-size: 13px !important;
  }
} */
